.main{
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);

}
.header{
    height: var(--header-height);
}
.header__nav{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}
.header__nav-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}
.header__nav-item{
    margin: 0 8px;
    position: relative;
    min-height: 29px;
    display: flex;
}

.header__nav-user{
    display: flex;
    justify-items: center;
    position: relative;
}

.header__nav-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__nav-user-name{
    margin-left: 8px;

}

.header__nav-user-menu{
    position: absolute;
    padding: 4px 0 0 0;
    top: 100%;
    right: 0;
    z-index: 1;
    background-color: #fff;
    border-radius: 2px;
    width: 164px;
    box-shadow: 0 1px 5px #cccccc;
    display: none;
}

.header__nav-user:hover .header__nav-user-menu{
    display: block;
}

.header__nav-user-menu::before{
    content: "";
    position: absolute;
    border-width: 10px 18px;
    border-style:  solid;
    border-color: transparent transparent #ffffff transparent;
    right: 32px;
    top: -15px;
}

.header__nav-user-menu::after{
    content: "";
    position: absolute;
    right: 0;
    top: -15px;
    display: block;
    width: 125px;
    height: 20px;
}

.header__nav-user-item{
    list-style: none;
}

.header__nav-user-item a{
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    display: block;
    padding: 4px 16px;
    font-weight: 100;
}

.header__nav-user-item a:hover{
    background-color: #fff3f3;
}

.header__nav-user-item a:first-child{
    border-top-left-radius:2px ;
    border-top-right-radius:2px ;
}

.header__nav-user-logout-hov:hover{
    color: var(--primary-color);
}

.header__nav-item, .header__nav-item-link{
    display: inline-block;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    font-weight: 100;
}
.header__nav-item--show-qr:hover > .header__qr{
    display: block;
}

.header__nav-item-has--notifi:hover > .header__nav-notifi{
    display: block;
}

.header__nav-item-link{
    text-decoration: none;
}
.header__nav-item:hover:hover,
.header__nav-icon-link, 
.header__nav-item-link:hover{
    color:rgba(255, 255,255, 0.7);
    /* thuộc tính trỏ chuột */
    cursor: pointer;
}

.header__nav-icon-link:nth-child(2){
    margin-left: 3px;
}

.header__nav-item--strong{
    font-weight: 800;
}
.header__nav-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 15px;
    background-color: #FB9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
.header__nav-icon{
    font-size: 1.8rem;
    margin: 0 4px;
    color: #ffffff;
    position: relative;
    top: 3px;
}
.header__nav-item, 
.header__nav-item-link
.header__nav-item-link{
    display: flex;
    align-items: center;
}
.header__nav-item--no-pointer{
    cursor: text;
    color: #ffffff;
}
/*header QR_code*/
.header__qr{
    background-color: #ffffff;
    width:186px ;
    position: absolute;
    left: 0;
    top: 118%; /*rộng bằng thẻ cha*/
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadIn ease-in 0.4s;
    z-index: 1;
}
.header__qr::before{
    width: 100%;
    position: absolute;
    left: 0;
    top: -16px;
    height: 30px;
    display: block;
    content: "";
}
.header__qr-img{
    width: 100%;

}
.header__qr-apps{
    display: flex;
    justify-content: space-between;
}
.header__qr-download-img{
    height: 15px;
}
.header__qr-link:first-child{
    margin-left: 11px;
}
.header__qr-link:last-child{
    margin-right: 11px;
}
/* Header notification */
.header__nav-notifi{
    position: absolute;
    top: 118%;
    width: 404px;
    background-color: #ffffff;
    border:1px solid #d3d3d3;
    right: 0;
    cursor: default;
    display: none;
    animation: headerNoti ease-in 0.2s;
    will-change: opacity, transform;
    transform-origin: calc(100% - 32px) top;
    z-index: 3;
    border-radius: 2px;
    
}

.header__nav-notifi::before{
    content: "";
    position: absolute;
    border-width: 20px 30px;
    border-style:  solid;
    border-color: transparent transparent #ffffff transparent;
    right: 1px;
    top: -25px;
    
}

.header__nav-notifi::after{
    content: "";
    position: absolute;
    right: 0;
    top: -15px;
    display: block;
    width: 125px;
    height: 20px;
}

@keyframes headerNoti{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__nav-notifi-header{
    height: 40px;
    background-color: #ffffff;
    cursor: text;
}
.header__nav-notifi-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight:500;
    font-size: 1.4rem;
    line-height: 40px;
}
.header__nav-notifi-list{
    padding-left: 0;
}

.header__nav-notifi-item{
    display: flex;
}

.header__nav-notifi-item:hover{
    background-color:#fff3f3;
}

.header__nav-notifi-item--viewed{
    background-color: rgba(238, 77, 45, 0.1);
}

.header__nav-notifi-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
    width: 100%;
}

.header__nav-notifi-img{
    width: 48px;
    object-fit: contain;
}
.header__nav-notifi-info{
    margin-left: 12px;

}

.header__nav-notifi-name{
    display: block;
    font-size: 0.9rem;
    color: black;
    font-weight: bold;
    line-height: 1.8rem;
}
.header__nav-notifi-descriotion{
    display: block;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #756F6E;
}
.header__notifi-footer{
    display: flex;
}

.header__notifi-footer-btn{
    text-decoration: none;
    color: gray;
    padding: 13px 20px;
    font-size: 1.3rem;
    margin:  auto;
}
/* header-seacrh */

.header__seacrh-width{
    height: var(--header-search-width) ;
    display: flex;
    align-items: center;
}



.header__logo{
    width: 120px;
}

.header__nav-button{
    position: relative;
    top: 0px;
    right:16px;
    font-size: 2rem;
    color: white;
    display: none;
    width: 74px;
    height: 80px;
}

.header__nav-button i{
    position: relative;
    top: 26px;
    left: 36px;
    color: white;
}

/* Css for btn seacrh on the mobile */
.header__nav-seacrh--btn{
    font-size: 2rem;
    color: #fff;
    display: none;
}


.header__logo-link{
    text-decoration: none;
    color: transparent;
}

.header__logo-img{
    width: 100px;
    margin: 1px 10px;
}

.header__seacrh-checbox:checked ~ .header__search{
    display: flex;
}

.header__search{
    background-color: #fff;
    flex: 1;
    height: 40px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
.header__cart{
    width: 150px;
    text-align: center;
    color: #fff;
    
}

.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 6px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list{
    display: block;
    
}

.header__cart-list::before{
    content: "";
    cursor: pointer;
    position: absolute;
    top: -30px;
    right: 4px;
    border-width: 20px 18px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.header__cart-icon{
    font-size: 2rem;
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 7px);
    right: 0px;
    background-color: #fff;
    width: 400px;
    border-radius: 3px;
    box-shadow: 0 1px 5px #cccccc;
    display: none;
    animation: fadIn ease-in 0.2s;
    cursor: default;
    z-index: 3;
}

.header__cart--no-cart-list{
    padding: 24px 0;
}

.header__cart--no-cart-list .header__cart--no-cart-img,
.header__cart--no-cart-list .header__cart--no-cart-list-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.header__cart--no-cart-img{
    width: 50%;
    display: none;
}

.header__cart--no-cart-list-msg{
    display: none;
    font-size: 1.2rem;
    margin-top: 14px;
    color:  #8d8d8d;
}

.header__cart-heading{
    color: black;

}

.header__cart-notifi{
    position: absolute;
    top: -6px;
    right: -12px;
    padding: 1px 7px;
    color: var(--primary-color);
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    line-height: 1rem;
    font-size: 1.2rem;
}

.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 100;
}

.header__cart-list-item{
    padding-left: 0;
    list-style: none;
}

.header__cart-item{
    display: flex;
    align-items: center;
}

.header__cart-item:hover{
    background-color: #fff3f3;
}

.header__cart-img{
    width: 46px;
    height: 46px;
    margin: 12px;
    border: 1px solid rgb(236, 236, 236);
}
.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head{
    color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header__cart-item-name{
    margin: 0;
    font-size: 1.1rem;
    font-weight: 400;
}
.header__cart-item-price{
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--primary-color);
}


.header__cart-item-mutiply{
    font-size: 0.8rem;
    color: #757575;
    margin: 0 4px;
}

.header__cart-item-quantily{
    font-size: 0.9rem;
}

.header__cart-item-body{
    color: black;
    display: flex;
    justify-content: space-between;
}
.header__cart-item-description{
    color: #757575;
    font-size: 1rem;
    font-weight: 300;
}
.header__cart-item-delete{
    font-size: 1.1rem;
}

.header__cart-item-delete-icon{
    font-size: 1.2rem;
    color: var(--priamry-color);
    display: none;
}

.header__cart-item-delete:hover{
   color:var(--primary-color) ;
   cursor: pointer;
}

.header__cart-view{
    float: right;
    margin: 0 12px 12px;
}


.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 16px;
    border-radius: 3px;
}
.header__search-select{
    border-left: 1px solid #cccccc;
    font-size: 16px;
    position: relative;
}
.header__search-select-label{
    font-size: 1.4rem;
    color: #8d8d8d;
    padding: 0 0 0 22px;
}
.header__search-select-icon{
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0px 16px;
    position: relative;
    top: 2px;
} 

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 36px;
    width: 64px;
    outline: none;
    margin-right: 3px;
    border-radius: 3px;
}
.header__search-btn:hover{
    background-color: #f1745b;
    cursor: pointer;
}

.header__search-btn-icon{
    font-size: 1.2rem;
    color: #fff;
}

.header__search-option{
    position: absolute;
    right: 0;
    top: clac(100% - 1px);
    width: 172px;
    box-shadow:0 1px 1px #cccccc;
    padding-left: 0;
    border-radius: 3px;
    display: none;
    animation: fadIn ease-in 0.2s;
    margin: 8px 0;
    z-index: 1;
}

.header__search-option::before{
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    position: absolute;
    top: -20px;
    left: 0;
    
}

.header_seacrh-option-item{
    background-color: #fff;
    border-radius: 3px;
    padding: 8px 8px;
    list-style: none;
    
}

.header__search-select:hover .header__search-option{
    display: block;
}

.header_seacrh-option-item:hover{
    background-color: #fff3f3;
    cursor: pointer;
    display: block;
}

.header_seacrh-option-item > span{
    font-size: 1.2rem;
    margin-left: 8px;
}
.header_seacrh-option-item > i{
    font-size: 0.7rem;
    color: var(--primary-color);
    margin-left:  12px;
    display: none;
   
}
.header_seacrh-option-item--active > i{
    display: inline-block;
}

/* Sort bar */

.header__sort-bar{
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort_bar-height);
    background-color: white;
    z-index: 1;
    margin:0;
    padding: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}


.header__sort-item{
    flex: 1;
    list-style: none;
    text-align: center;
}


.header__sort-link{
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: var(--header-sort_bar-height);
    height: 100%;
    position: relative;
}

.header__sort-link i{
    color: var(--primary-color);
}

.header__sort-link::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border: 1px solid #e5e5e5;
    /* căn giữa theo thuộc tính top */
    transform: translateY(-50%);
}

.header__sort-link--active{
    color: var(--primary-color);
}

.header__sort-item:first-child .header__sort-link::before{
    display: none;
}

/* authen-modal */
.auth__form{
    width: 500px;
    border-radius: 5px;
    background-color:#fff;
    overflow: hidden;
}
.auth__form-container{
    padding: 32px 32px;
}
.auth__form-header{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.auth__form-heading{
    font-size: 2.2rem;
    font-weight: 400;
    margin: 0 0;
}
.auth__form-switch--btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}
/* .auth__form-form{
    
} */
.auth__form-input{
    width: 94%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
    outline: none;
}

.auth__form-input:focus{
    border-color: var(--primary-color);
}

.auth__form-aside{
    margin-top: 18px;
}

.auth__form-policy-text{
    font-size: 1rem;
    text-align: center;
    padding: 0 12px;
    margin: 50px 0; 
}
.auth__text-link{
    text-decoration: none;
    color: var(--primary-color);
}
.auth__form-controls{
    margin-top: 80px;
    display: flex;
    justify-content:flex-end;
}

.auth__form-controls-back{
    margin-right: 8px;
}
/* .btn--width-icon{} */

.auth__form-socials-icon{
    font-size: 1.5rem;
}
.auth__form-socials--facebook{
    background-color:#3A5A98;
    color: #fff;
}

.auth__form-socials--facebook
.auth__form-socials-icon{
    color: #fff;

}

.auth__form-socials-title{
    margin: 0 22px;
    font-size: 1rem;
}
.auth__form-socials--google{
    background-color: #ffffff;
    color: rgb(177, 13, 13);
}

.auth__form-help{
    display: flex;
    justify-content: flex-end;
}
.auth__form-link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #939393;
}
.auth__form-sperate{
    display: block;
    border: 1px solid #EAEAEA ;
    height: 20px;
    margin: 0 16px;
}
.auth__form-forgot{
    color: var(--primary-color);
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}

/* Search history */

.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 5px #cccccc;
    display: none;
    overflow: hidden;
    z-index: 2;
}
.header__search-history-title{
    margin: 6px 18px;
    font-size: 1.2rem;
    color: #999;
    font-weight: 400;
}
.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 0 ;
}

.header__search-history-item:hover{
    background-color: #fff3f3;
}


.header__search-history-item{
    height: 38px;
    padding: 0 18px;
}
.header__search-history-item > a{
    text-decoration: none;
    font-size: 1rem;
    color: rgb(54, 54, 54);
    line-height: 38px;
    display: block;
}

/* App container */
.app__container{
    background-color: #f5f5f5;
}

.app-content{
    padding-top: 24px;
}

.category{
    background-color: #fff;
    border-radius: 2px;
}

.category-heading{
    font-size: 1.6rem;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 0;
}

.category-heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
}

.category-list{
    padding-left: 0;
    list-style: none;
    padding: 0 0 8px 0;
    margin-top: 6px;
    margin-left: 9px;
}


.category-item__active .category-item__link{
    color: var(--primary-color);
}

.category-item__active .category-item__link::before{
    position: absolute;
    content: '';
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    left: 8px;
    transform: translateY(calc(-50% - 1px));
}

.category-item__link{
    position: relative;
    right: 0;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 6px 16px;
    display: block;
    color:var(--text-clor);
    transition: right linear 0.1s;
}

.category-item__link:hover{
    color: var(--primary-color);
    right: -3px;
}

/* Home sort + filter */

.home-filter{
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding:8px 22px;
    border-radius: 2px;
    position: relative;
}

.home-filter_label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter_btn{
    margin-right: 12px;
    min-width: 90px;
}

.select-input_label{
    font-size: 1.4rem;
}

.select-input_icon{
    font-size: 1.4rem;
    color: #4a4a4a;
    position: relative;
    top: 2px;
}

.select-input_item{
    list-style: none;
    
}

.select-input_link{
    text-decoration: none;
    color: var(--text-clor);
    font-size: 1.2rem;
    display: block;
    padding: 4px 0;
}

.select-input_link:hover{
    color: var(--primary-color);
}

.home-filter_pagination{
    margin-left: auto;
    font-size: 1.4rem;
    margin-right: 22px;
}

.home-filter_page-curent{
    color: var(--primary-color);
}

.home-filter_page-control{
    border-radius: 2px;
    overflow: hidden;
    width: 72px;
    height: 36px;
    display: flex;
}

.home-filter_page-btn{
    flex: 1;
    background-color: white;
    display: flex;
    text-decoration: none;
}


.home-filter_page-btn:first-child{
    border-right: 1px solid #eee;
}
.home-filter_page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* Btn-disable */

.home-filter_page-btn--disable{
    background-color: #f9f9f9;

}

.home-filter_page-btn--disable .home-filter_page-icon{
    cursor: default;
    color: #5555;
}

/* product item */

.home-product{
    margin-bottom: 10px;
}

.home-product-item{
    background-color: #fff;
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img{
    padding-top: 100%;
    background-repeat:no-repeat; 
    background-size: cover;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-clor);
    line-height: 1.6rem;
    margin: 10px 10px 6px 10px;
    height: 3.2rem;
    /* xử lý số dòng */
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price{
    display: flex; 
    align-items: baseline;
    flex-wrap: wrap;
}


.home-product-item__price-old{
    margin-left: 10px;
    font-size: 1rem;
    color:#666;
    text-decoration: line-through;
  
}

.home-product-item__price-curent{
    font-size: 1.2rem;
    margin-left: 10px;
    color: var(--primary-color);
}

.home-product-item-action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0px 10px;
}

.home-product-item__like{
    font-size: 1.2rem;
}

i.home-product-item__like-icon--fill{
    display: none;
    color: #f63d30;
}

.home-product-item__like-liked .home-product-item__like-icon--fill{
    display: inline-block;
}

.home-product-item__like-liked .home-product-item__like-icon--empty{
    display: none;
}

.home-product-item__rait{
    font-size: 0.7rem;
    color: #d5d5d5;
    margin: -1px 0 0 auto;
}

.home-product-item__start-gold{
    color: var(--star-gold-color);
}

.home-product-item__sold{
    font-size: 1rem;
    color: var(--text-clor);
    margin-left: 4px;
}

.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0px 10px;
    font-weight: 300;
    color: #595959;
}

.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color:var(--primary-color);
    background-color:currentColor;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding-right: 4px;
    line-height: 1.6rem;
    border-top-right-radius: 3px ;
    border-bottom-right-radius: 3px ;
}

.home-product-item__favourite::before{
    content: '';
    position: absolute;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    left: 0px;
    bottom: -3px;
    filter: brightness(60%);
}

.home-product-item__favourite > span{
    color: white;
}

.home-product-item__favourite > i{
    font-size: 0.6rem;
    margin:0 4px;
    color: white;

}

.home-product-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    height: 36px;
    width: 40px;
    background-color: rgba(255, 216, 64, 0.9);
    text-align: center;
    line-height: 1.4rem;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after{
    content: '';
    position: absolute;
    border-width: 0 20px 4px 20px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.9) transparent rgba(255, 216, 64, 0.9);
    top: 100%;
    right: 0;
    left: 0;
}

.home-product-item__sale-off-persent{
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.2rem;
}

.home-product-item__sale-off-label{
    color: white;
    font-size: 1.2rem;
}

.home-product__pagination{
    margin: 48px 0 32px 0px;
}

.footer{
    border-top: 4px solid var(--primary-color);
    padding-top: 12px;
}

.footer__heading{
    font-size: 1.1rem;
    text-transform:uppercase;
    color: var(--text-clor);
}

.footer__list{
    padding-left: 0;
    list-style: none;
}


.footer__list-item--link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer__list-item--icon{
    position: relative;
    font-size: 1.8rem;
    top: 3px;
    margin:-4px 8px 0 0;
}

.footer__list-item--link:hover{
    color: var(--primary-color);
}

.footer__download{
    display: flex;
}


.footer__download-app--link{
    text-decoration: none;
    color: transparent;
   
}

.footer__download-app{
    display: flex;
    /* thuộc tính đổi chiều trục main asix*/
    flex-direction: column;
    justify-content:center ;
}

.footer__download-qr{
    --size-img:80px;
    width: var(--size-img);
    height: var(--size-img);
    border: 1px solid rgb(245, 245, 245);
}

.footer__download-app--img{
    flex: 1;
    margin-left: 16px;
    height: 16px;
}


.footer__bottom{
    background-color: #f5f5f5;
    padding: 12px 0 ;
}
.footer__text{
    margin: 0;
    text-align: center;
    color: #737373;
    font-size: 1.2rem;
}

/* Responsive */

/* Mobile: width < 740px */

/* Tablet: width >= 740px and width < 1024px */

/* Nav on the tablet */
.nav__tablet-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 149;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}
.nav__tablet{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    background-color: #fff;
    z-index: 150;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s; 
}

.nav__tablet-header{
    height: 100px;
    line-height: 100px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    align-items: center;
    justify-content: space-between;
}

.nav__tablet-img{
    width: 160px;
    height: 78px;
    margin: 10px 0 0 10px;
}

.nav__tablet-icon{
    display: flex;
    align-items: center ;
    display: flex;
}

.nav__icon-tablet{
    margin: 0 50px 0 auto;
}

.nav__button-close{
    color: var(--primary-color);
    font-size: 1.8rem;
    position: absolute;
    right: 4%;
    top: 0%;
}

.nav__tablet-menu{
    list-style: none;
    padding: 0;
    height: 80px;
    line-height: 80px;
}

/* .nav__tablet-list{

} */

.nav__tablet-list:hover{
    background-color: #ebebeb;
}

.nav__tablet-list:hover .nav__tablet-link{
    color: var(--primary-color);
}

.nav__tablet-link{
    padding: 0 0 0 32px;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
}

.nav__input:checked ~ .nav__tablet-overlay{
    display: block;
}

.nav__input:checked ~ .nav__tablet{
    transform: translateX(0);
    opacity: 1;
}